Spotify URI,Track Name,Artist Name,Album Name,Disc Number,Track Number,Track Duration (ms),Added By,Added At
"spotify:track:4G5c7H4ANAIFSNQ53hO1eq","Ausar","Kamilo Sanclemente, Dabeat","Beyond the Future, Vol. 1","1","1","578000","spotify:user:","2020-08-23T04:20:48Z"
"spotify:track:2ZT1XRBe633Z6mmuhSe2H7","Ya Prosto Tayu","Jiminy Hop","Now You're Free","1","2","452459","spotify:user:","2020-08-23T04:24:20Z"
"spotify:track:55c9NKzsxG5UxGfE34GSqG","Feline","Kamilo Sanclemente, Dabeat","Beyond the Future, Vol. 1","1","2","451764","spotify:user:","2020-08-23T04:30:52Z"
"spotify:track:63UFRsN6dkMIz9bTOruQHC","Dorse - Memory (ARG) Remix","Case & Barlow, Memory (Arg)","Dorse","1","2","472227","spotify:user:","2020-08-23T18:34:22Z"
"spotify:track:2PRZmiUQggsoCAcr4iJ0gO","Neutral - Original Mix","Baunder, Interaxxis","Neutral","1","1","513442","spotify:user:","2020-08-23T23:02:39Z"
"spotify:track:43SiTte3J6vGT6IMYe6bov","Physical Balance","Berni Turletti","In Motion","1","2","452231","spotify:user:","2020-08-24T18:27:20Z"
"spotify:track:0AII0eni1yS58uBZG8bOEe","Kainalu","The Story of Lu","Agujas Del Pajar","1","1","434250","spotify:user:","2020-08-25T12:35:21Z"
"spotify:track:1BxqIZjlgUCy700XfQVICa","Samburu","Armonica","Sounds of Sasaab","1","2","383733","spotify:user:","2020-08-26T02:27:53Z"
"spotify:track:5ZYwgsIYN4wZpqW086foGr","Subtle Pressure - Erdi Irmak Reinterpretation","Kai Castro, Erdi Irmak","Polarized / Subtle Pressure: The Remixes","1","3","405245","spotify:user:","2020-08-26T02:36:48Z"
"spotify:track:1qCINILaOrERG3yOEgthaf","Crossing the Ocean","Antrim","Crossing the Ocean EP","1","1","519344","spotify:user:","2020-08-26T02:49:32Z"
"spotify:track:3RRtdxDhVpVdOiykus26pk","Lonely Souls","Mass Digital","Summer Sampler 2020","1","1","460024","spotify:user:","2020-08-26T21:12:28Z"
"spotify:track:1MrnJNNHoN4hABV8cTT8Xk","Illusions","Shai T","Andalucía EP","1","2","397377","spotify:user:","2020-08-27T02:34:25Z"
"spotify:track:4rvfkYkwJSHIwTZEu4vQ89","Momentum","JoC H","Momentum EP","1","1","459609","spotify:user:","2020-08-27T02:40:06Z"
"spotify:track:4LpHB2wdorUQmesXEfSntz","Now You're Free","Jiminy Hop","Now You're Free","1","1","397377","spotify:user:","2020-08-29T14:12:08Z"


